.header{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 76px;
    background: var(--grey-0, #F5F5F5);
    justify-content: space-between;
    align-items: center;

    img{
        margin-left: 1.25rem;
        width: 9.375rem;
        height: 1.4283rem;
    }

    button {
        border: 0px solid ;
        background: var(--grey-0, #F5F5F5);
        padding-right: 1.25rem;
    }

}

.form{
    margin-left: 1.25rem;
}