.card {
    width: 100%;
    background-color: #fff;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    button {
        border: 0px solid;
        background-color: #fff;
    }
}

.name{
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    gap: 0.125rem;
}


img{
    width: 55px;
    height: 53.49px;
}